---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Mark Ivkovic" description="About Mark">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="873"
					height="873"
					src="/assets/at-work.jpg"
					alt="Mark Ivkovic taking a time out from work for sit with his whippet named Eddie."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						<strong>I'm a UK based full stack web developer, currently commercially working with PHP, Laravel, wordpress technologies and an inquisitive mind.</strong>
						<br />
						Web developer with experience building for front-end and full stack. Passionate about creative design solutions and skilled in PHP, Laravel, Astro, React.js, Javascript, CSS frameworks (bootstrap/tailwind) for rapid build and redesign times, HTML accessibility standards, using and building RESTful API’s, Node.js & Express. Quick to “catch on”, determined breaker down of problems with a love for collaboration and a passion for continual learning.
						<br /><br />
						🌱 I`m currently working at Digitronix, a full service agency where my respomnibilities include management and reporting for over 35 live client sites, building and deploying greenfield sites from in house figma / XD designs, adding feature requests to existing sites and onboarding the hosting and management of sites from new clients.
						<br /><br />
						💬 Ask me about breathing (trust me, it's more complex than you know).
						<br />
						🐕 Papa to a rascally whippet.<br />
						⚡ Fun fact: Currently addicted to the 80's tv show "Starcade". Often found running the local hills and trails or bobbing about in the local lakes & rivers.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p><strong>Web Developer, UK</strong><br />
						Aug 2023 - PRESENT<br />
						Developer - Building and maintaining client sites and web apps.
						Maintaining & Updating client sites to ensure functionality, security and performance in optimal.
						Working with GitLab, WPEngine, CloudFlare, WordFence. In order to streamline and pipeline the high workload.
						Ability to rapidly switch from codebase to codebase in order to enact rapid changes across a range of build types and code types. 
						Assisting clients update wordpress sites, managing plug-ins and custom code using PHP / JS.
						Website & SEO reporting - Looker Studio, Google Analytics.
						Creation and testing of HTML5 Emails & media ads. - Litmus / Mailchimp / HTML5 validation testing.
						</p>
						<br />
					<p><strong>Freelance Web Developer, UK</strong><br />
						Jan 2023 - PRESENT<br />
						Developer working within the health and wellness spaces.
						Working on finding ways to empower users health and wellness through novel and deliberate uses of tech.
						Updating client sites to current GDPR / Accessibility standards.
						Working with Javascript & React alongside managing api calls and building backend functions using Node.js.
						Assisting clients update wordpress sites, managing plug-ins and custom code using PHP / JS.
						Content creation for social media, websites. Managing social media accounts.
						</p>
						<br />
						<p>
						<strong>PhotoMooch, UK — Co-Founder - Dev.</strong><br />
						April 2021 - PRESENT<br />
						Professional Creatives Collective - Utilising creativity for aiding positive mental wellbeing.
						Developer - Self built the PhotoMooch progressive Web app.
						Content creation for social media, website. Managing social media accounts.
						Leading in-person workshops using the photomooch method.
						Chair to meetings / zoom calls.
						Writing grant applications, managing the process.
						</p>
						<br />
						<p><strong>Hyperiondev, Web Development — Developer Bootcamp</strong><br />
						Dec 2022 - Mar 2023<br />
						Recently graduated from an intensive three month full-time bootcamp. Covering all aspects of MERN stack for commercial web development environments and deployment. Building projects linking modern frontend technologies through custom coded restful API’s to a backend hosted database. Utilising version control via git and github, frequent code reviews and feedback plus experience writing documentation and software design plans. 
						</p>
						<br />
						<p><strong>Harvard — CS50x Intro to Computer Science</strong><br />
						Apr 2022 - Nov 2023 - Online<br />
						Wide spectrum intro to C.S. giving a solid grounding into algorithms, data structures, correct coding practices and software solutions. Technologies covered; C, Javascript, Python, SQLite3, Flask.
						</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Javascript</li>
						<li>React for modern, stateful dynamic apps.</li>
						<li>SS frameworks etc. Tailwind, Bootstrap.</li>
						<li>Node.js</li>
						<li>Highly motivated self-starter.</li>
						<li>RESTful API use & creation.</li>
						<li>Strong belief in life-long learning.</li>
						<li>Problem solving.</li>
						<li>Creative design.</li>
						<li>Extra Tools - VS Code, Adobe suite, github, figma.</li>
						
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
