---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Mark Ivkovic" description="About Mark">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="873"
					height="873"
					src="/assets/at-work.jpg"
					alt="Mark Ivkovic taking a time out from work for sit with his whippet named Eddie."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						<strong>I'm a UK based full stack web developer, currently working with Javascript, React, node.js technologies and an inquisitive mind.</strong>
						🔭 <strong>Current project - </strong>Generative AI prompt builder for PhotoMooch App. Utilising OpenAI API to create creative prompts, titles and images, vanilla JS feature add-on.
						Previous build was updating PhotoMooch. My full stack web app linked to @photo_mooch on Instagram. A creative prompt, art therapy app. MongoDB, Express.js, React build. Refactoring some parts and adding some extra functionality. Feel free to have a play - PhotoMooch

						🌱 I`m currently working with Grimm & Co. to update and modernise thier site. This has me rapidly getting to grips with Wordpress whilst also dealing with a legacy site which require improvements with respects performance and modern standards.

						📫 How to reach me: LinkedIn

						💬 Ask me about breathing (trust me, it's more complex than you know).
						🐕 Papa to a rascally whippet. ⚡ Fun fact: Currently addicted to Starcade Often found running the local hills and trails or bobbing about in the local lakes & rivers.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p><strong>Freelance Web Developer, UK</strong><br />
						Jan 2023 - PRESENT<br />
						Developer - Building and maintaining client sites and web apps.
						Content creation for social media, website. Managing social media accounts.
						Updating client sites to current GDPR / Accessibility standards.
						Working with Javascript & React alongside managing api calls and building backend functions using Node.js.
						Assisting clients update wordpress sites, managing plug-ins and custom code using PHP / JS.
						</p>
						<br />
						<p>
						<strong>PhotoMooch, UK — Co-Founder - Dev.</strong><br />
						April 2021 - PRESENT<br />
						Professional Creatives Collective - Utilising creativity for aiding positive mental wellbeing.
						Developer - Self built the PhotoMooch progressive Web app.
						Content creation for social media, website. Managing social media accounts.
						Leading in-person workshops using the photomooch method.
						Chair to meetings / zoom calls.
						Writing grant applications, managing the process.
						</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
